:root {
    --primary:#f6648C; 
    --secondary: #CACACA; 
    --app-ctr-bg-color:#6b0090;
    --app-ctr-text-color: #ffffff;/*nuevo*/
    --app-bg-color: #ffffff;/*#2d3c47;*/
    --app-text-color:rgb(19, 18, 18);/*rgb(117, 117, 117);*/
    --app-text-Items: #07141d;
  }

/*============================================*/
.fondo-control{
    background-image: linear-gradient(to right bottom, #e5097f, #c30087, #9b008d, #6b0090, #210990);
}
.img-avatar{
    border:#6b0090 2px solid;
    border-radius: 50%;

}

.icon-avatar{
    width: 24px;
    height: 24px;
    float: left;
    background: var(--app-ctr-bg-color);
    border-radius: 50%;
    border: solid 2px var(--app-ctr-text-color);
    margin: 0px 10px 2px 0px;
    box-shadow:rgba(0, 0, 0, 0.541) 2px 2px;

}

.boton-primary{
    background-color: var(--app-ctr-bg-color);/*#6b0090;*/
    border-radius: 10px;
    color:var(--app-ctr-text-color);/*white;*/
}
.boton-float{
    border: none;
    position: fixed;
    bottom: 10%;
    right: 5%;
    z-index: 10000;
    font-size: 0px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    color: transparent;
    box-shadow:rgba(0, 0, 0, 0.349) 5px 5px;
    }
.boton-float:hover{
    width: 72px;
    height: 72px;
}  
.input-edit{
    background-image: url('../assets/imgs/icon_edit.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right;
    padding-right: 32px;
    background-size: 30px 30px
}

.boton-redondo{
    border: none;
    z-index: 10000;
    font-size: 0px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    color: transparent;
    box-shadow:rgba(0, 0, 0, 0.349) 5px 5px;
}
.boton-redondo:hover{
    width: 72px;
    height: 72px;
} 



.boton-calculadora, .boton-calculadora-aceptar, .boton-calculadora-cancel{
    width: 100%;
    height: 50px;
    margin: 5px;
    background: var(--app-ctr-bg-color);
    color: var(--app-ctr-text-color);
    border-radius: 20px;
    border: solid 2px var(--app-ctr-text-color);
    box-shadow:rgba(0, 0, 0, 0.425) 5px 5px;
}
.boton-calculadora-aceptar{
    background: green;
}
.boton-calculadora-cancel{
    background: red;
}
.boton-calculadora:hover{
    
    background-image: linear-gradient(to top,var(--app-ctr-bg-color), rgba(253, 249, 249, 0.411));
}
.boton-calculadora:active{
    box-shadow:rgba(0, 0, 0, 0.425) 1px 1px;
    background: var(--app-ctr-text-color);
    color: var(--app-ctr-bg-color);
    border: solid 2px var(--app-ctr-bg-color);
    margin: 7px 7px;
}
.display_calculadora{
    background: #ccc;
    font-size: 3em;
    padding: 10Px;
    margin: 5px;
    border: solid 2px #777777;
    border-radius: 5px;

}



.list-item{
    color: var(--app-text-Items);
    font-size: 0.9em;
    position: relative;
    display: block;
    padding: 10px 5px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.007);

}

.mt-3 {
    margin-top: 1rem!important;
}
.mt-5 {
    margin-top: 3rem!important;
}

.carrito-cantidad{
    float: left;
    margin-left: -20px;
    margin-top: 5px;
    color: black;
    background:yellow;
    padding: 5px;
    border-radius: 50%;
    width: 28px;
    height: 28px;
}
.resumen-monto{
    float: right;
    color: var(--app-ctr-text-color);
    font-size: 1.5em;
}
/*============================================================*/


html,
body {
    
    height: 100vh;
    background-size: 100vh auto;
   
    /*background: rgb(129,107,255);*/
   
   /* background-image: url('../assets/imgs/fondo.jpg');*/
    background-repeat:no-repeat;
    background-position:center top;
   -webkit-background-size:  auto 100vh;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
   /*  background: linear-gradient(146deg, rgba(129,107,255,0.8) 0%, rgba(178,33,255,0.8015581232492998) 34%, rgba(0,255,149,0.8) 100%);*/
  /* background: linear-gradient(146deg, rgba(191, 192, 245, 0.8) 0%, rgba(185, 165, 211, 0.802) 34%, rgba(211, 252, 235, 0.8) 100%);*/
   background-color:var(--app-bg-color);
   color:var(--app-text-color);

}
/*
.btn-primary{
    background-image: linear-gradient(to right top, #120537, #321464, #5b1d92, #8d1fc0, #c512eb);
}*/

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #ffffff6b;
    border-top: 2px solid #ffff;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}


/*Clases de botones*/
.bot-float{

        position: fixed;
        top: 70px;
        right: 5%;
        z-index: 10000;
        font-size: 0px;
        border-radius: 50%;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        color: transparent;

  
}

/* Boton para agragar se adapta a las pantallas*/
.bot-add{
    font-size: 1.0em;
    margin-left: 10px;
}
.bot-add img{
    display: none;
}
.bot-add span{
    display:block;
}
.bot-search{
    height: 32px;
    padding-top: 0px;
    width: 42px;
    display: inline;
}


.bot-inicio{
    height:150px;
    width:150px;
    margin: 25px 10px;
    border: solid 2px var(--app-ctr-bg-color);
    background-color: var(--app-ctr-text-color);
    border-radius: 50%;
    color:var(--app-ctr-bg-color);
    box-shadow: 5px 5px #00000050;
}

.bot-inicio:hover{
    margin: 25px 10px;
    border: solid 2px var(--app-ctr-text-color);
    background-color: var(--app-ctr-bg-color);
    color:var(--app-ctr-text-color);
    box-shadow: 8px 8px #00000050;
}

.btn:hover, .btn:focus, .btn.focus {

    color: #ffea00;
}
/*--------------------------------------------------*/

.marco_app{
    font-size:1.5em; 
    background-color:rgba(255,255,255,0.5); 
    border-style:solid; 
    border-width:1px; 
    border-radius:5px; 
    border-color: var(--app-ctr-bg-color);
    padding:10px; margin:5px
}
/*----------------------------------------------------------*/
/*-----------Color------------*/
.text-white{
    color:white;
}

.text-ayuda{
    background: beige;
    color: black;
    font-style: oblique;
    font-weight: lighter;
    padding: 10px;
    border: solid 1px ;
    border-radius: 10px;
    border-color: gray;
    margin: 10px 5px;

}

.text-descripcion{
    font-style: italic;
    font-size: large;
    font-weight: lighter;
}


.scrool{
    overflow-y: auto;
    overflow-x:hidden;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
    .footer {
        height: 60px;
        background-color: #ffffff40;
        border: 1px solid #ffffff;
        padding-top: 20px;
        border-radius: 10px;
        margin: 3px;
    
    }
    .bot-add{
        position: fixed;
        bottom: 10px;
        right: 20px;
        z-index: 10000;
        font-size: 0px;
        border-radius: 50%;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        color: transparent;

    }
    .bot-add img{
        display:block;
    }
    .bot-add span{
        display:none;
    }
    
    .bot-search{
        position: absolute;
        top: 5px;
        right: 5px;
    }

    .bot-float{
        bottom: 5%;
        right: 10%;
        top: unset;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

/*--------------------------------*/


@keyframes botEmergenteA {
    from  {width: 2px;height: 2px; left:0px; top:80px;}
    to {width: 64px;height: 64px; left:10px; top:-40px;}
  }
  @keyframes botEmergenteB {
    from  {width: 2px;height: 2px; left:0px; top:80px;}
    to {width: 64px;height: 64px; left:60px; top:-30px;}
  }



.navColor{
    background-color:var(--app-ctr-bg-color);
    color:var(--app-text-color);

}

.appBotonIni{
    margin-top: 2em;
    height: 160px;
    width: 160px;
    padding: 5px;
   background-color:var(--app-bg-color);
   color:var(--app-text-color);

    border-radius: 50%;
    

}
.imgIcon{

    height: 64px;
    width: 64px;
    padding: 5px;
    border-color:var(--app-bg-color);
    border-width:2px;
    border-style:solid;
    background: rgba(255, 255, 255, 0.726);
    color:var(--app-bg-color);
    border-radius: 50%;

}
.imgIconGrande{

    height: 120px;
    width: 120px;
    padding: 5px;
    border-color:var(--app-bg-color);
    border-width:2px;
    border-style:solid;
    background: rgba(255, 255, 255, 0.726);
    color:var(--app-bg-color);
    border-radius: 50%;

}

.marcoItems{
    background: #ffffffb4;
    border-style: solid;
    border-color: white;
    padding: 5px;
    border-radius: 10px;
    border-width: 1px;
    margin: 5px 1px;
    color:var(--app-text-Items);
}

.botonRedondo{
    width: 94px;
    height: 94px;
    color:var(--app-bg-color);
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
    padding: 14px;
    margin: 5px;
}
.botonRedondo:hover{
    background-color: rgb(255, 255, 255);
}
.botonRedondo img{
    padding: 5px;
}
.botonRedondo h4{
    margin-top:25px;
}
/*----------------------------------------------TEXTOTS------------------------------*/

.tituloList{
    font-family: sans-serif;
    font-size: 1.5rem;
    font-style: bold;
}


.subtituloList{
    font-family: sans-serif;
    font-size: 1.2rem;
    font-style: italic;
}
.truncate {/*para cortar un texto*/
    /*width: 250px;*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

@media (min-width:320px)  { 
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
        body, table, p, img {
        /*padding-right: 1em;*/
        width: 100%;
        }
     }
    @media (min-width:480px)  { 
    /* smartphones, Android phones, landscape iPhone */ 
    }
    @media (min-width:600px)  { 
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
    }

    @media(max-width:767px) {
        .nav li > form > button.logout {
            display:block;
            text-align: left;
            width: 100%;
            padding: 10px 15px;
        }
        .footer {
            height: 60px;
            background-color: #ffffff40;
            border: 1px solid #ffffff;
            padding-top: 20px;
            border-radius: 10px;
            margin: 3px;
        
        }
        .imgIcon{

            height: 54px;
            width: 54px;
            padding: 5px;
            border-color: rgb(80, 0, 113);
            border-width:2px;
            border-style:solid;
            background: rgba(255, 255, 255, 0.726);
            color:rgb(80,0,113);
            border-radius: 50%;
        
        }
    }
    
    @media (min-width:801px)  { 
    /* tablet, landscape iPad, lo-res laptops ands desktops */ 
    }
    @media (min-width:1025px) { 
    /* big landscape tablets, laptops, and desktops */ 
    }
    @media (min-width:1281px) { 
    /* hi-res laptops and desktops */ 
    }